extends ../layouts/base.pug
block title
    title Login
block content 
     .container.mt-5.d-flex.justify-content-center
        <!-- Default form login -->
        form(class="text-center border border-light p-5" action="/user/login" method="post")
            p(class="h4 mb-4") Login
            <!-- Email -->
            input(type="email" name="email" class="form-control mb-4" placeholder="E-mail")
            <!-- Password -->
            input(type="password" name="password"  class="form-control mb-4" placeholder="Password")
            div(class="d-flex justify-content-around")
            <!-- Sign in button -->
            - var messages= message
            if  messages.length > 0
                p(class="text-danger")= messages
            button(class="btn btn-info btn-block my-4" type="submit") Login
            <!-- Register -->
            p Not a member?
                a(href="/user/signup") Register


                