extends ../layouts/base.pug 

block title
    title Update
block content
    .container.mt-5
        h1.text-center.my-5 Edit task
        form(action="/task/update/" + task.id method="POST")
                .form-group
                    input(type="text", value=task.title name="title" class="form-control")
                .form-group
                    textarea(name="description", cols="30", rows="10"  class="form-control") #{task.description}
                button(type="submit" class="btn ") Update