extends ../layouts/base.pug
block content 
    div(class='container mt-5')
        div(class='card')
            div(class='card-body')
            h1(class='text-center') Error 404
            .d-flex.justify-content-center
                img(width='20%' height='50%' src='https://d1wli5mq9yq9mw.cloudfront.net/files/cards/thumbs/png/med/POSTABLE1720.png?v=1d8d5eae8fa00969b48ecf7578997552114c6056')
            h2(class='text-center')  La pagina que buscas no se encuentra
            p(class='text-center')  No se pudo acceder a la direccion #{url}
            